@charset "utf-8";
/* Enkla flytande media
   Obs! För flytande media krävs att du tar bort mediets höjd- och breddattribut från HTML-koden
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 stöder inte max-width så 100% används som standard för bredd */
.ie6 img {
	width:100%;
}

/*
	Egenskaper för Dreamweavers flytande stödraster
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration från Responsive Web Design av Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	och Golden Grid System av Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobillayout: Högst 480px. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

/* Layout för bärbar dator: 481 px till 768 px. Ärver format från mobillayout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

/* Layout för stationär dator: 769 px till 1 232 px. Ärver format från mobillayout och layout för bärbar dator. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}